<ion-tabs #myTabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Toggle" tabIcon="switch"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Alarm" tabIcon="alarm"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Settings" tabIcon="settings"></ion-tab>  
</ion-tabs>