<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  	<div>
      <br>
      <h2>Een goeie morgen, Stan!</h2>
      <br>
      <h4>Lust jij een lekkere tosti?</h4>
      <br>
      <br>
      <button ion-button block (click)="load()">Absoluut, Lekker!</button>


	</div>
</ion-content>
