<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<!-- chrome://inspect/#devices -->

<form>
    <ion-item>
      <ion-label>IP-adress</ion-label>
      <ion-input text-right type="Text" [(ngModel)]="ip" name="ip" placeholder="e.g. 192.168.0.10"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Port</ion-label>
      <ion-input text-right type="Text" [(ngModel)]="port" name="port" placeholder="Default: 3232"></ion-input>      
    </ion-item>
    <p></p>
    <ion-item>
        <button ion-button full type="submit" (click)="onClick()">Check IP Adress</button>          
    </ion-item>
  </form>





  <p></p>

  <ion-item>
    <ion-label>Connectivity status:</ion-label>
    <ion-input disabled="true" text-right id="amount" type="Text" [(ngModel)]="connectedOrNot"></ion-input>
    <!-- <ion-label text-right style="color: red">Not Connected</ion-label> -->
  </ion-item>



</ion-content>
