// http://ionicframework.com/docs/theming/
h2 {
    text-align: center;
    color: #222;
}
h4 {
    text-align: center;
    color: #222;
}

.toolbar-title {
	color: white;
}
.toolbar-background {
  background-color: #ff8000;
  color: #222;
}
.content {
	background-color: #FFF;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
