<!--
  Generated template for the AlarmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Alarm</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <br>
      <h2>FF nog met je wekker app zetten. We zijn er nog mee bezig, okay?</h2>
      <h2>Bvd</h2>
      <br>
</ion-content>
