<!--
  Generated template for the TogglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tosti's Bouwen!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>SmartGrill On/Off</ion-label>
    <!-- <ion-toggle [(ngModel)]="instantToggle" (click)="onChange()" checked="false"></ion-toggle> -->
    <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify()"></ion-toggle>
    
  </ion-item>

  <ion-item>
      <button ion-button block type="submit" (click)="onClick()">Tosti Inspiration</button>  
  </ion-item>

</ion-content>
